@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body{
    margin: 0%;
    padding: 0%;
    font-family: 'Inter', sans-serif;
    background:hsl(233, 47%, 7%) ;

}
.container{
    padding: 10% 15% ;

}
@media only screen and (max-width: 600px) {
    .container{
        padding: 1% 5%;
    }
    .container .box{
        display: flex;
        flex-direction: column-reverse;
    }
    .container .box1{
        padding: 30px;
        background: hsl(244, 38%, 16%);
    }
    .container .box1 .heading{
        font-size: 30px;
        text-align: center;
    }
    .container .box1 .description{
        text-align: center;
    }
    h3{
        margin-bottom: 5px;
    }
    img{
        height: auto;
        width: 361px;
    }
    .container .box1 .details{
        display: block;
        text-align: center;
    }
    .container .box1 .details .detail{
        padding-right: 0px;
    }

}
.container .box{
    border:1px solid black;
    border-radius: 12px;
    display: flex;
    overflow: hidden;
}
.container .box1{
    padding: 80px 50px;
    background: hsl(244, 38%, 16%);
}

.container .box1 .heading{
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    justify-content: center;
    margin: 0;
}
.container .box1 .description{
    font-size: 15px;
    color: grey;
    margin-bottom: 27px;
}
.container .box1 .details{
    display: flex;
    justify-content: space-between;
}

.container .box1 .details .detail{
    padding-right: 65px;
    
}
.container .box1 .details .detail h3{
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}
.container .box1 .details .detail p{
    font-size: 14px;
    color: grey;
}
img{
    height: 442px;
    width: 488px;
}
span{
    color: hsl(277, 64%, 61%);
}
.box2{
    position: relative;
}
#overlay {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(170,92,219,0.5);
    z-index: 2;
}